<!DOCTYPE html>
<html>

  <head>
    <title>way to be</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="skeleton.css">
    <meta charset="utf-8">
  </head>

  <body>
    <a name="top"></a>
    <h1 style="background-color: #111B4D; line-height: 100%; margin: 0px; color: white; padding: 10px">Way To Be</h1>

    <div class="navBar">
      <ul>
        <li> <a href="#tsn_form"> Top Skills Needed </a> </li>
        <li> <a href="#wfms_form"> What Fits My Skills </a> </li>
        <li> <a href="#fsn_form"> Future Skills Needed </a> </li>
      </ul>
    </div>

    {{{body}}}

  </body>

</html>